/* ----------CSS Reset Section---------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* variables follwing <--variableName: value;> */
    --primary: #dab14b;
    --text: #443a3b;
    --dark-accent: #b1784d;
    --light-accent: #9cafb4;
    --light-shades: #f8f5f5;

}

body {
    min-height: 100vh;
    max-height: 100%;
    width: 100vw;
    color: var(--text);
}

a {
    text-decoration: none;
}

/* Containers to be made Content */


/* ----------Content---------- */


/* ----------Structure---------- */
.project-card {
    max-width: 50%%;
}



.grid {
    display: grid;
    justify-items: center;
    gap: 3.5%;
}

.entries-grid{
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-content: space-evenly;
}

.grid-cols-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.width-200 {
    width: 400px;
}

.padding-x-3 {
    padding-left: 3rem;
    padding-right: 3rem;
}


/* ----------Skins---------- */
/* animations */
.bg-dark {
    background-color: var(--text);
    color: var(--light-accent);
}

.bg-light {
    background-color: var(--light-accent);
    color: var(--text);
}

.bg-yell {
    background-color: var(--primary);
}

.color-accent {
    color: var(--light-accent);
}


.bx-shadow-l {
    box-shadow: var(--text) -2px 5px 4px 0.5px;
}
.bx-shadow-r {
    box-shadow: var(--text) 2px 0px 2px 0.3px;
}


.toast-container {
    background-color: var(--primary);
    border-radius: 6px;
}

.scroll-y {
    overflow-y: scroll;
}

.h-100vh {
    height: 100vh;
}

.h-90vh {
    height: 90vh;
}

.h-80vh {
    height: 80vh;
}

.text-green {
    color: greenyellow;
}

.btn-task-edit {
    height: 25%;
    margin-right: 2%;
    position: static;
}

/* .btn-task-edit:hover {
    background-color: var();
} */