<button class="btn btn-toggle d-inline-flex text-white rounded border-0 d-none d-md-inline" data-bs-toggle="collapse" data-bs-target="#project-options" aria-expanded="true">Project Options</button>
<div id="project-options" class="collapse show">
    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
        <li>
            <button id="AddTaskButton" type="button" class="btn link-body-emphasis dropdown-item rounded text-white-50 pl-2 py-1 d-flex justify-content-center" data-bs-toggle="modal" data-bs-target="#AddTaskModal">
                <i class="fa-solid fa-list-check color-accent"></i>
                <span class="mx-2 d-none d-md-inline">Add Task</span>
            </button>
        </li>
        <li>
            <button type="button" class="btn link-body-emphasis dropdown-item rounded text-white-50 pl-2 py-1 mx-auto d-flex justify-content-center" data-bs-toggle="offcanvas" data-bs-target="#shortNotesEdit" aria-controls="shortNotesEdit">
                <i class="fa-solid fa-note-sticky color-accent px-auto"></i>
                <span class="mx-md-2 d-none d-md-inline">Edit Short Notes</span>         
            </button>
        </li>
        <li>
            <a href="#" class="link-body-emphasis text-decoration-none rounded text-white-50 pl-2 py-1 d-flex justify-content-center">
                <i class="fa-solid fa-user-plus color-accent"></i>
                <span class="mx-2 d-none d-md-inline">Collaborators</span>
            </a>
        </li>
    </ul>
</div>