<button class="btn btn-toggle d-inline-flex text-white rounded border-0" data-bs-toggle="collapse" data-bs-target="#project-options" aria-expanded="true">Project Options</button>
<div id="project-options" class="collapse show">
    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
        <li>
            <a href="#" class="link-body-emphasis text-decoration-none rounded text-white-50 p-3">
                <i class="fa-solid fa-list-check color-accent"></i>
                <span class="mx-2">Add Task</span>
            </a>
        </li>
        <li>
            <a href="#" class="link-body-emphasis text-decoration-none rounded text-white-50 p-3">
                <i class="fa-solid fa-note-sticky color-accent"></i>
                <span class="mx-2">Open Notes</span>
            </a>
        </li>
        <li>
            <a href="#" class="link-body-emphasis text-decoration-none rounded text-white-50 p-3">
                <i class="fa-solid fa-user-plus color-accent"></i>
                <span class="mx-2">Collaborators</span>
            </a>
        </li>
    </ul>
</div>