<button class="btn btn-toggle d-inline-flex text-white rounded border-0 d-none d-md-inline" data-bs-toggle="collapse" data-bs-target="#project-options" aria-expanded="true">Project Options</button>
<div id="project-options" class="collapse show">
    <ul class="btn-toggle-nav list-unstyled fw-normal my-2 small">
        <li>
            <button id="AddTaskButton" type="button" class="btn project-option dropdown-item rounded text-white-50 py-1 d-flex align-items-center my-2" data-bs-toggle="modal" data-bs-target="#AddTaskModal">
                <i class="fa-solid fa-list-check p-2 project-option"></i>
                <span class="mx-2 d-none d-md-inline">Add Task</span>
            </button>
        </li>
        <li>
            <button type="button" class="btn project-option dropdown-item text-white-50 rounded py-1 d-flex align-items-center my-2" data-bs-toggle="offcanvas" data-bs-target="#shortNotesEdit" aria-controls="shortNotesEdit">
                <i class="fa-solid fa-note-sticky p-2 project-option"></i>
                <span class="mx-md-2 d-none d-md-inline">Edit Short Notes</span>         
            </button>
        </li>
        <li>
            <a href="#" class="btn project-option text-decoration-none rounded text-white-50 py-1 d-flex align-items-center my-2">
                <i class="fa-solid fa-user-plus p-2 project-option"></i>
                <span class="mx-2 d-none d-md-inline">Collaborators</span>
            </a>
        </li>
    </ul>
</div>