{% extends "base.html" %}
{% load crispy_forms_tags %}

{% url 'collaborator' as collaborator_url %}
{% url 'home' as home_url %}

<!-- Setting page title dependant on specific view -->
{% block Title %}
{% if request.path == home_url and user.is_authenticated %}
Your Projects
{% elif request.path == collaborator_url and user.is_authenticated %}
You're a Collaborator on...
{% endif %}
{% endblock %}

{% block notifications %}
{% include './Additionals/toasty_notifications.html' %}
{% endblock %}


{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
        <!-- Blog Entries Column -->
    <div class="grid entries-grid">
        {% for project in project_list %}
        <div class="card project-card mb-2">
            <div class="card-header d-flex justify-content-between">
                <h5 class="card-title px-5">{{ project.title | title }}</h5>
                <span>{{ project.date_created }}</span>
            </div>
            <div class="card-body">
                <div class="card-text">{{ project.description | truncatechars:180 }}</div>
            </div>
            <div class="card-footer">
                <a href="{% url 'project_detail' project.slug %}" class="btn btn-primary">Open Project</a>
            </div>
        </div>
        {% endfor %}
    </div>


    <!-- <div class="grid"></div> -->

</div>
<!-- index.html content ends here -->
{% endblock %}


{% block copyright %}
    Copyright 2024 Luke Isotta
{% endblock %}