{% extends "base.html" %}
{% load crispy_forms_tags %}

{% url 'collaborator' as collaborator_url %}
{% url 'home' as home_url %}

<!-- Setting page title dependant on specific view -->
{% block Title %}
{% if request.path == home_url and user.is_authenticated %}
Your Projects
{% elif request.path == collaborator_url and user.is_authenticated %}
You're a Collaborator on...
{% endif %}
{% endblock %}

{% block notifications %}
{% include './Additionals/toasty_notifications.html' %}
{% endblock %}


{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
        <!-- Blog Entries Column -->
    <div class="grid grid-cols-4 row-gap-10p h-100">
        {% for project in project_list %}
        <div class="card project-card w-100 h-100">
            <div class="card-header d-flex justify-content-between">
                <h5 class="card-title px-5">{{ project.title | title }}</h5>
                <span>{{ project.date_created }}</span>
            </div>
            <div class="card-body">
                <div class="card-text">{{ project.description | truncatechars:180 }}</div>
            </div>
            <div class="card-footer">
                <a href="{% url 'project_detail' project.slug %}" class="btn btn-primary">Open Project</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


    <!-- <div class="grid"></div> -->
    
    <!-- index.html content ends here -->
    {% endblock %}

{% block pagination %}
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">PREVIOUS &laquo;</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
{% endblock %}
    
    {% block copyright %}
    Copyright 2024 Luke Isotta
{% endblock %}