{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% url 'collaborator' as collaborator_url %}
{% url 'home' as home_url %}

<!-- Setting page title dependant on specific view -->
{% block Title %}
{% if request.path == home_url and user.is_authenticated %}
Your Projects
{% elif request.path == collaborator_url and user.is_authenticated %}
You're a Collaborator on...
{% endif %}
{% endblock %}

{% block notifications %}
{% include './Additionals/toasty_notifications.html' %}
{% endblock %}

{% block content %}


<div class="row">
    <div class="col-12 mb-3 mb-sm-0">
        <div class="scroll-y h-80vh">
            {% for project in project_list %}
            <div class="card project-card mb-4 mx-auto">
                <div class="card-header">
                    <h5 class="card-title">{{ project.title | title }}</h5>
                    <span>{{ project.date_created }}</span>
                </div>
                <div class="card-body">
                    <div class="card-text">{{ project.description | truncatechars:200 }}</div>
                </div>
                <div class="card-footer">
                    <a href="{% url 'project_detail' project.slug %}" class="btn btn-primary">Open Project</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<!-- index.html content ends here -->
{% endblock %}

{% block copyright %}
    Copyright 2024 Luke Isotta
{% endblock %}

{% block scripts %}
<script src="{% static 'js/refresh_window_by_display.js' %}"></script>
{% endblock %}