{% extends 'base.html' %} 



{% block notifications %}
{% include './Additionals/toasty_notifications.html' %}
{% endblock %}


{% block content %}

<!-- Essentially a kanban type board, setup with three divs denoting todo, in progress, done -->
<div class="accordion" id="taskStatusAccordion">
    <!-- First accordion Item // Todo's -->
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#TodosCollapse" aria-expanded="true" aria-controls="collapseTodos">
                <i class="fa-regular fa-circle rounded me-2 text-primary"></i>
                <strong>Todo's</strong>
            </button>
        </h2>
        <div class="accordion-collapse collapse show" id="TodosCollapse" data-bs-parent="#taskStatusAccordion">
            <div class="accordion-body scroll-y max-h-80vh bg-yell">
                <div class="grid grid-cols-tasks">
                    {% for task in tasks_todo %}
                    {% include "./Additionals/toast_template.html" %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- Second accordion Item // In Progress -->
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#InProgressCollapse" aria-expanded="false" aria-controls="collapseInProgress">
                <i class="fa-regular fa-circle-dot rounded me-2 text-primary"></i>
                <strong>In Progress</strong>
            </button>
        </h2>
        <div class="accordion-collapse collapse" id="InProgressCollapse" data-bs-parent="#taskStatusAccordion">
            <div class="accordion-body scroll-y max-h-80vh bg-yell">
                <div class="grid grid-cols-tasks">
                    {% for task in tasks_in_progress %}
                    {% include "./Additionals/toast_template.html" %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- Third accordion Item // Done -->
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#DoneCollapse" aria-expanded="false" aria-controls="collapseDone">
                <i class="fa-solid fa-circle rounded me-2 text-primary"></i>
                <strong>Done</strong>
            </button>
        </h2>
        <div class="accordion-collapse collapse" id="DoneCollapse" data-bs-parent="#taskStatusAccordion">
            <div class="accordion-body scroll-y max-h-80vh bg-yell">
                <div class="grid grid-cols-tasks">
                    {% for task in tasks_done %}
                    {% include "./Additionals/toast_template.html" %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block modals %}
{% include './Options/project_modals.html' %}
{% endblock %}


{% block scripts %}
{% include './Additionals/detail_scripts_include.html' %}
{% endblock %}



