{% extends 'base.html' %} {% block content %}
{% load static %}

<!-- Basic Project Detail View -->
 <!-- will consist of three panels that contain the tasks
  relevant to the pertinant data-status-column value. -->

<!-- I am going to use toast containers to facilitate this -->


<!-- TODO panel -->

<div class="grid grid-cols-3">
    <div class="toast-container position-static" data-task-status="todo">
        {% for task in tasks_todo %}
        <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="..." class="rounded me-2" alt="...">
                <strong>{{ task.author }}</strong>
                <small class="text-body-secondary">{{ task.date_created }}</small>
            </div>
            <div class="toast-body">
                {{ task.content | striptags }}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="toast-container position-static" data-task-status="In progress">
        {% for task in tasks_in_progress %}
        <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="..." class="rounded me-2" alt="...">
                <strong>{{ task.author }}</strong>
                <small class="text-body-secondary">{{ task.date_created }}</small>
            </div>
            <div class="toast-body">
                {{ task.content | striptags }}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="toast-container position-static" data-task-status="Done">
        {% for task in tasks_done %}
        <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="..." class="rounded me-2" alt="...">
                <strong>{{ task.author }}</strong>
                <small class="text-body-secondary">{{ task.date_created }}</small>
            </div>
            <div class="toast-body">
                {{ task.content | striptags }}
            </div>
        </div>
        {% endfor %}
    </div>


</div>






























<!-- <div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text"> -->
                <!-- Post title goes in these h1 tags -->
                <!-- <h1 class="post-title">{{ project.title }}</h1> -->
                <!-- Post author goes before the | the post's created date goes after -->
                <!-- <p class="post-subtitle">{{ project.owner }} | {{ project.date_created }}</p>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body"> -->
                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <!-- <p class="card-text">
                    {{ project.description | safe }}
                </p>
            </div>
        </div>
    </div>
</div> -->


<div class="position-relative" arial-live="polite" aria-atomic="true">
    <div class="toast-container top-0 end-0 p-3">


        <!-- Toast Template // Task Template -->
        {% for task in tasks %}
        <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="..." class="rounded me-2" alt="...">
                <strong class="me-auto">{{ task.author }}</strong>
                <small class="text-body-secondary">{{ task.date_created }}</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                {{ task.title | striptags }}
            </div>
        </div>
        {% endfor %}
        <!-- End of Toast Template // Task Template -->

    </div>
</div>

{% endblock content %}